source https://nuget.org/api/v2

nuget DotNet.Contracts
nuget DotParser
nuget FSharp.Formatting
nuget FSharpx.Collections
nuget FSPowerPack.Core.Community 3.0.0.0 framework: >= net45
nuget Microsoft.Net.Compilers
nuget FAKE
nuget NUnit
nuget NUnit.Runners
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx