source https://nuget.org/api/v2

nuget DotNet.Contracts
nuget DotParser >= 1.0.6
nuget FSharp.Core
nuget FSharp.Formatting
nuget FSharpx.Collections
nuget Microsoft.Net.Compilers
nuget FAKE
nuget NUnit
nuget NUnit.Runners
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx