h1 		{ font-family:Verdana; font-weight:Bold; font-size:14pt; color:#BB5500; margin-bottom:0pt; vertical-align:bottom; }
h2 		{ font-family:Verdana; font-weight:Bold; font-size:12pt; color:#BB5500;margin-bottom:0pt; }
h3 		{ font-family:Verdana; font-weight:Bold; font-size:10pt; color:#BB5500;margin-bottom:0pt; }
h4 		{ font-family:Verdana; font-size:10pt; margin-bottom:0pt; }
a               { color:#660000;}
span.toggle     { cursor:pointer; font-size:6pt;}
div.toggle      { display:block; background-color:White;}
div.closedToggle{ display:none; background-color:White;}
body,p,li	    { font-family:Verdana; font-size:9pt;}
p.menu			{ font-size:8pt; font-family:Verdana; font-weight:bold}
p.copyright     { font-size:7pt; font-family:Verdana;}
p.repro         { font-size: 7pt; font-family:Verdana;background-color:#FEFEFE;  border-width:thin; border-style:dashed; border-color:Gray;}
table 		    { font-family:Verdana; font-weight:normal; font-size:8pt; color:black; }
table.indented  { text-indent:10pt;}
tr.heading      { background-color:#CCCCFF; font-weight:bold; color:black;}
tr.repro        { background-color:#FFFFAF; font-size:7pt;}
tr.even         { background-color:#FFFFDF;}
tr.odd          { background-color:#FFFFA9;}
tr.successEven  { background-color:#EFFFEF; }
tr.successOdd   { background-color:#C0FFC0; }
tr.ignoreEven  { background-color:#FFCC33; }
tr.ignoreOdd   { background-color:#FFBB33; }
tr.failureTitle  { background-color:#FF6000; color:White; font-weight:bold; }
tr.failureEven  { background-color:#FFEEDE; }
tr.failureOdd   { background-color:#FFD0C0; }
tr.logMessageEven  { background-color:#FFFFDF; }
tr.logMessageOdd   { background-color:#FFFFA9; }
tr.logWarningEven  { background-color:#FFFEEE; }
tr.logWarningOdd   { background-color:#FFE0D0; }
tr.logErrorEven  { background-color:#FFEEDE; }
tr.logErrorOdd   { background-color:#FFD0C0; }
tr.consoleTitle { background-color:#777777; color:White; font-weight:bold; }
td.smallLeft  	{ font-size:7pt; font-weight: normal; text-align:left; vertical-align:top; }
td.smallRight 	{ font-size:7pt; font-weight: normal; text-align:right; vertical-align:top; }
pre.console     { border-color:#DDDDDD; border-style:dashed; border-width:thin; background-color:White;}
pre.stackTrace  { border-color:#FF8686; border-style:dashed; border-width:thin; background-color:White;}
div.tooltip  { border-width: 2;background-color: #dddddd; padding: 0;}
span.newFailure { color:#FF0000; font-size:7pt; font-weight: normal; text-align:left; vertical-align:super; font-weight:bold;}
span.fixed { color:#008F00; font-size:7pt; font-weight: normal; text-align:left; vertical-align:super; font-weight:bold;}
span.newTest { color:black; font-size:7pt; font-weight: normal; text-align:left; vertical-align:super; font-weight:bold;}
span.button { color:Navy; cursor:pointer; font-size:6.5pt; vertical-align:super; font-weight:normal;}
